@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


:root {
    --header-height: 3rem;
    --font-medium: 500;

    --first-color: #5361FF;
    --white-color: #FAFAFF;
    --dark-color: #2a3b47;
    --text-color: #697477;

    --body-font: 'Montserrat', sans-serif;

    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    width: calc(100% - 2rem);
    margin: 0 var(--mb-2);
}


.home {
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;

    &_container {
        height: calc(100vh - var(--header-height));
        row-gap: 5rem;
    }

    &_title {
        font-size: var(--big-font-size);
        color: var(--white-color);
        line-height: .8;
    }

    &_img {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        width: 85%;
        max-width: 300px;
        margin-bottom: 40px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
    }

    :root {
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        &_container {
            height: 100vh;
            grid-template-rows: 1.7fr 1fr;
            row-gap: 0;
        }

        &_img {
            right: 10%;
            transform: none;
            width: 520px;
            max-width: none;
            border-radius: 100px;
        }
    }
}


@media screen and (min-height: 721px) {
    .home_container {
        height: 640px;
    }
}