@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root{
    --header-height: 3rem;
    --font-medium: 500;
}


:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

:root{
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: white;
    line-height: 1.6;
    animation: changeColor 20s infinite;
}

@keyframes changeColor {
    0% {
        background-color: #3498db;
    }

    25% {
        background-color: #e74c3c;
    }

    50% {
        background-color: #2ecc71;
    }

    75% {
        background-color: #f39c12;
    }

    100% {
        background-color: #7F00FF;
    }
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
    height: 85%;
    display: block;
}

.section{
    padding: 3rem 0;
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: black;
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: black;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: black;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}


.nav_item{
    margin-bottom: var(--mb-4);
}

.nav_link{
    position: relative;
    color: black;
}

.nav_link:hover{
    color:  black;
}

.nav_logo{
    color: white;
}

.nav_toggle{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.show{
    right: 0;
}

.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: black;
}

.home{
    position: relative;
    overflow: hidden;
    margin-top: -30px;
}

.home_container{
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}

.home_title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: white;
    line-height: .7;   
}

.home_title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
    font-size: 70%;
}

.home_scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}

.home_scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: white;
}

.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
    height: 60%;
    width: 65%;
    border-radius: 20px;
    margin-right: 50px;
}

.home_title {
    font-size: 90px;
}

.audio-button {
    margin-right: 40px;
}

.about_container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
    color: black;
}

.about_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.about_img img {
    width: 200%;
    height: 130%;
    object-fit: cover;
}

.about_subtitle{
    font-size: var(--h2-font-size);
    color: black;
    margin-bottom: var(--mb-1);
}

.about_text{
    margin-bottom: var(--mb-4);
    text-align: justify;
}

.about_profession{
    display: block;
    margin-bottom: var(--mb-4);
}

.about_social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
}

.about_social-icon:hover{
    color: black;
}
.education_content {
    color: black;
}
.education_title {
    margin-bottom: -4px;
    font-size: 22px;
}

.education_school {
    font-weight: bold;
}

.education_year {
    font-style: italic;
}
.skills_container{
    row-gap: 2rem;
}

.skills_subtitle{
    color: black;
    margin-bottom: var(--mb-3);
}

.skills_name{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: black;
    border-radius: .25rem;
}

.skills_name:hover{
    background-color: white;
    color: black;
}

.skills_img img{
    border-radius: .5rem;
}

.certificates_container{
    justify-items: center;
    row-gap: 2rem;
}

.certificates_img{
    position: relative;
    overflow: hidden;
}

.certificates_img img{
    border-radius: .5rem;
    height: 100%;
}

.certificates_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
    padding: 7px;
}

.certificates_description {
    color: black;
    text-align: center;
}

.certificates_img:hover .certificates_link{
    bottom: 0;
}

.certificates_link-name{
    color: var(--dark-color);
    margin-left: 20px;
}

.projects_container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.projects_card {
    background-color: black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.projects_card:hover {
    transform: translateY(-8px);
}

.projects_img {
    width: 350px;
    height: 220px;
    object-fit: cover;
    margin: 0%;
    border-radius: 10px;
}

.projects_content {
    padding: 1.2rem;
    color: white;
}

.projects_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.projects_description {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.projects_date {
    font-size: 0.8rem;
    font-style: italic;
}

.projects_link {
    color: blue;
    font-style: italic;
    font-size: 14px;
}

.contact_container{
    row-gap: 2rem;
}

.contact_subtitle{
    font-size: var(--normal-font-size);
    color: black;
}

.contact_text{
    display: inline-block;
    margin-bottom: var(--mb-2);
    color: black;
}

.contact_inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact_input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid black;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}

.contact_button{
    display: block;
    background-color: black;
    color: white;
    padding: .80rem 1.9rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.contact_button:hover {
    background-color: white;
    color: black;
}

.resume_button {
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
    font-size: 14px;
}

.resume_button:hover {
    background-color: white;
    color: black;
}

.footer{
    background-color: black;
}

.footer_container{
    row-gap: 2rem;
}

.footer_title{
    font-size: var(--normal-font-size);
    color: white;
    margin-bottom: var(--mb-2);
}

.footer_text{
    color: white;
}

.footer_link{
    padding: .25rem 0;
    color: white;
}

.footer_link:hover{
    color: blue;
}

.footer_social{
    font-size: 1.4rem;
    margin-right: var(--mb-1);
    color: white;
}

.footer_social:hover{
    color: blue;
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 4rem;
    }

    .section-title{
        margin-bottom: 3rem;
    }

    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .nav_list{
        display: flex;
    }

    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    .nav_toggle{
        display: none;
    }

    .nav_link{
        color: var(--white-color);
    }

    .nav_link:hover{
        color: var(--white-color);
    }

    .active::after{
        background-color: var(--white-color);
    }


    .home {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
    }

    .home_container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .home_img{
        width: 50px;
        height: 200px;
        right: 10%;
    }

    
    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
        margin-top: -50px;
    }

    .about_img{
        width: 200px;
        height: 200px;
    }

    .about_img img{
        width: 165px;
    }

    .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .certificates_container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .contact_form{
        width: 380px;
    }

    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (min-width: 1024px) {
    .home_img {
        height: 90%;
        width: 500px;
        margin-right: 0;
        border-radius: 100px;
        margin-bottom: 15px;
    }

    .home_title {
        font-size: var(--big-font-size);
    }

    .audio-button {
        margin-right: 0;
    }

    .nav_menu {
        margin-left: 350px;
    }

    .projects_img {
        margin: 0%;
        width: 350px;
    }
}